
.navbar-nav {
    background-color:#072b39;
    color: rgb(255, 255, 255);
}
form{
    position:grid;
    max-width: 30vh;
    background-color:#838383;
    color: var(--clr-bright);
    padding: auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;   
}
button{
    background-color: #1f6f8e;
    color: var(--clr-bright);
}


/* footer */
.footer{
    padding: 2rem 0;
    margin-bottom: 50vh;
}
.footer-content p{
    color: #cec4c4cd;
}
.footer-content p span{
    color: rgb(255, 255, 255);

}

